---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Your GymBro is ready">
  <main>
    <svg
      class="dumbbell"
      width="495"
      height="623"
      viewBox="0 0 1280.000000 1280.000000"
      fill="none"
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid meet"
      aria-hidden="true"
    >
      <metadata>
        Created by potrace 1.15, written by Peter Selinger 2001-2017
      </metadata>
      <g
        transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
        fill="#000000"
        stroke="none"
      >
        <path
          d="M3538 11163 l-568 -568 -380 380 -380 380 -382 -383 -383 -382 380
-380 380 -380 -570 -570 -570 -570 383 -382 382 -383 -382 -382 -383 -383 380
-380 380 -380 952 952 953 953 2287 -2288 2288 -2287 -953 -953 -952 -952 380
-380 380 -380 382 383 383 382 382 -382 383 -383 570 570 570 570 380 -380
380 -380 382 383 383 382 -380 380 -380 380 570 570 570 570 -383 383 -382
382 382 383 383 382 -380 380 -380 380 -952 -952 -953 -953 -2287 2288 -2288
2287 953 953 952 952 -380 380 -380 380 -383 -383 -382 -382 -380 380 c-209
209 -382 380 -385 380 -3 0 -260 -255 -572 -567z"
        ></path>
      </g>
    </svg>
    <h1>Your Gym<span class="text-gradient">Bro</span></h1>
    <h2 class="instructions">What are you training today?</h2>
    <ul role="list" class="link-card-grid">
      <Card href=`${import.meta.env.PUBLIC_BASE_URL}/chest` title="Pecho" />
      <Card
        href=`${import.meta.env.PUBLIC_BASE_URL}/biceps`
        title="Tricpes y Biceps"
      />
      <Card href=`${import.meta.env.PUBLIC_BASE_URL}/back` title="Espalda" />
      <Card href=`${import.meta.env.PUBLIC_BASE_URL}/legs` title="Piernas" />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .dumbbell {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    transform: rotate(150%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>

<script>
  function logEnvFile() {
    console.log(import.meta.env.PUBLIC_APIKEY);
  }
  document.body.onload = logEnvFile;
</script>
